<form method="post" action="{{ path('app_event_delete', {'id': event.id}) }}" onsubmit="return confirm('Na pewno chcesz usunąć to wydarzenie?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete_event' ~ event.id) }}">
    <button class="btn btn-danger">Usuń</button>
</form>
