0 4 * * * www-data php /var/www/html/bin/console app:set-reminder-dates >> /var/log/cron_reminder_dates.log 2>&1
0 * * * * www-data php /var/www/html/bin/console reminder:send >> /var/log/cron_reminder_send.log 2>&1
