{% extends 'base.html.twig' %}
{% block title %}Sprawdź e-mail{% endblock %}
{% block body %}
    <div class="container my-5">
        <div class="alert alert-info text-center">
            <h4>Potwierdź swój adres e-mail</h4>
            <p>Na podany adres została wysłana wiadomość z linkiem aktywacyjnym.<br>
                Sprawdź skrzynkę i kliknij w link, aby aktywować konto.</p>
        </div>
    </div>
{% endblock %}
