{% extends 'base.html.twig' %}

{% block title %}Edytuj kategorię{% endblock %}

{% block body %}
    <div class="container my-5">
        <div class=" mx-auto" style="max-width: 600px;">

            <div class="card-body">
                {{ include('category/_form.html.twig', {'button_label': 'Update'}) }}

                <div class="d-flex justify-content-between mt-4">
                    <a href="{{ path('admin_dashboard') }}" class="btn btn-secondary">
                        Powrót do panelu administratora
                    </a>
                    <form method="post" action="{{ path('app_category_delete', {'id': category.id}) }}" onsubmit="return confirm('Czy na pewno chcesz usunąć tę kategorię? Powiązane wydarzenia będą miały kategorię pustą (NULL).');" class="d-inline">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
                        <button class="btn btn-danger " title="Usuń kategorię">
                            <i class="bi bi-trash"></i> Usuń
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
