{% extends 'base.html.twig' %}

{% block title %}Nowa kategoria{% endblock %}

{% block body %}
    <div class="container my-5">
        <div class="mx-auto" style="max-width: 600px;">
            <div class="card-body">
                {{ include('category/_form.html.twig') }}

                <div class="d-flex justify-content-between mt-4">
                    <a href="{{ path('admin_dashboard') }}" class="btn btn-secondary">
                        Powrót do panelu administratora
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
