<form method="post" action="{{ path('app_location_delete', {'id': location.id}) }}" onsubmit="return confirm('Czy na pewno chcesz usunąć tę lokalizację?');" class="d-inline">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ location.id) }}">
    <button class="btn btn-danger ms-1">Usuń</button>
</form>
